<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAHMI</title>
    <link rel="icon" href="../assets/img/bicicleta.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <!-- Parte izquierda con logo y nombre -->
        <div class="logo-container">
            <img src="../assets/img/bicicleta.png" alt="Logo SAHMI" class="logo-img">
            <span>SAHMI</span>
        </div>

        <!-- Parte derecha con enlaces -->
        <ul class="nav-links">
            <li><a href="../views/index.html">Inicio</a></li>
            <li><a href="../views/manual.html">Manual</a></li>
            <li><a href="../views/SAHMI.html">SAHMI</a></li>
        </ul>
    </nav>

    <header class="header">
        <div class="header-background"></div> <!-- Contenedor parallax solo para header -->   

        <div class="header-text">
            <h1>Sistema de Análisis Histórico de Movilidad Individual (SAHMI) V3</h1>
        </div>
    </header>
    
    <div class="intro">
        Descripción
El Sistema de Análisis Histórico de Movilidad Individual (SAHMI) es un trabajo que busca incrementar los análisis posibles que tiene el Sistema de Análisis de Movilidad (SAM). SAHMI analiza y visualiza el histórico de los datos abiertos publicados por el Sistema de bicicletas públicas de la Ciudad de México, ECOBICI, utilizando el software Tableau, con una licencia académica.
    </div>

    <footer>
        © 2025 | SAHMI - Proyecto académico del IPN | Todos los derechos reservados.
    </footer>

    <!-- Scripts al final del body (optimización) -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>